course1.1/Resources/geckodriver*
course1.1/Results/geckodriver*
course1.2/Resources/geckodriver*
course1.2/Results/geckodriver*
course1.1/Resources/selenium-screenshot*
course1.1/Results/selenium-screenshot*
course1.2/Resources/selenium-screenshot*
course1.2/Results/selenium-screenshot*
